@{
    ViewBag.Title = "Vision University";
}
@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active table-responsive">
            <img class="img-responsive" src="~/Content/image/1.jpg" style="width: 100%" data-src="holder.js/900x500/auto/#7cbf00:#fff/text: " alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class=""> Vision University</h1>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="item table-responsive">
            <img class="img-responsive" src="~/Content/image/2.jpg" style="width: 100%" data-src="holder.js/900x500/auto/#7cbf00:#fff/text: " alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        Vision University
                    </h1>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="item table-responsive">
            <img class="img-responsive" src="~/Content/image/3.jpg" style="width: 100%" data-src="holder.js/900x500/auto/#7cbf00:#fff/text: " alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        Vision University
                    </h1>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="item table-responsive">
            <img class="img-responsive" src="~/Content/image/4.jpg" style="width: 100%" data-src="holder.js/900x500/auto/#7cbf00:#fff/text: " alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        Vision University
                    </h1>
                    <p> </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
    </div>
</div>

